*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .game-board{
    width: 100%px;
    height: 500px;
    border-bottom: 15px solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #E0f6ff);
    }

    .pipe{
        position: absolute;
        bottom: -30px;
        width: 190px;
        animation: pipe-animation 2s infinite linear;
    }
    .clouds{
        position: absolute;
        width: 500px;
        animation: clouds-animation 20s infinite linear;
    }/*
    .aviao{
        position: absolute;
        bottom: 20px;
        width: 700px;
        animation: aviao-animation 5s infinite linear;
    } */

    .mario{
        position: absolute;
        bottom: 0px;
        width: 120px;
    }

    .jump{
        animation: mario-jump 500ms ease-out;

    }
        @keyframes pipe-animation {
    
        from{
            right: -20%;
        }
        to {
            right: 100%;
        }
        
    }
    @keyframes mario-jump {
        0%{
            bottom: 0;
        }
        40%{
            bottom: 180px;
        }
        50%{
            bottom: 180px;
        }
        60%{
            bottom: 180px;
        }
        100%{
                bottom: 0;
            }
    }
        
    @keyframes clouds-animation {
    
        from{
            right: -30%;
        }
        to {
            right: 100%;
        }
    }